<!doctype html>
<html lang="es">
  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peñon Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
  <body>
    <header class="sticky-sm-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Inicio</a>
            <div class="container-fluid">
              <a class="navbar-brand me-lg-5 pe-lg-5" href="#">
                <img src="{% static 'images/logo.png' %}" alt="" width="74" height="67" class="d-inline-block align-text-top">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="productos/registrar-capacidad">Crear Capacidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos/registrar-cerveza">Crear Capacidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/productos/registrar-envase">Crear Envase</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/productos/registrar-precio ">Crear Precio</a>
                  </li>
                </ul>
                <form class="d-flex mt-2" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                    <button type="button" class="btn btn-outline-primary mt-2 ms-2 me-2">Login</button>
                    <button type="button" class="btn btn-outline-warning mt-2">Sign-up</button>
              </div>
            </div>
          </nav>
    </header>
    <main>
       {% block content %}
       {% endblock content %} 
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>