<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peñon del Aguila</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        {% include 'svg.html' %}
    </svg>
    <main class="container-db">
        <aside>
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;height: 100vh;background: lightgrey!important;">
                <a href="{% url 'gestion-peñon' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <img src={% static 'images/logo.png' %} class="bi pe-none me-2" width="74" height="67">
                    <span class="fs-5 fw-semibold">Gestion</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                            <svg class="bi pe-none me-2 text-white" width="16" height="16"><use xlink:href="#home"></use></svg>
                            Home
                        </button>
                        <div class="collapse" id="home-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>      
                            Productos
                        </button>
                        <div class="collapse" id="orders-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{% url 'registrar-capacidad' %}" class="link-dark d-inline-flex text-decoration-none ms-4 rounded">Registrar Capacidad del Envase</a></li>
                                <li><a href="{% url 'registrar-envase' %}" class="link-dark d-inline-flex text-decoration-none ms-4 rounded">Registrar Envase</a></li>
                                <li><a href="{% url 'registrar-precio' %}" class="link-dark d-inline-flex text-decoration-none ms-4 rounded">Registrar Precios</a></li>
                                <li><a href="{% url 'registrar-cerveza' %}" class="link-dark d-inline-flex text-decoration-none ms-4 rounded">Registrar Cerveza</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            Dashboard
                        </button>
                        <div class="collapse" id="dashboard-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>      
                            Orders
                        </button>
                        <div class="collapse" id="orders-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                            Account
                        </button>
                        <div class="collapse" id="account-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                                <li><a href="{% url 'index' %}" class="link-dark d-inline-flex text-decoration-none rounded">Cerrar sesion</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        {% block content %}
        {% endblock content %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
</body>
</html>