<!doctype html>
<html lang="es">
  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titulo %}{% endblock titulo %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" media="screen and (min-width:480px)">
</head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      {% include 'svg.html' %}
  </svg>
    <header class="sticky-sm-top bar-sticky">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'index' %}"></a>
            <div class="container-fluid">
              <a class="navbar-brand me-lg-5 pe-lg-5" href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="" width="74" height="67" class="d-inline-block align-text-top">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About us</a>
                    </li>
                </ul>
                <form class="d-flex mt-2" action="{% url 'busqueda_productos_view' %}" method="GET">
                  <input class="form-control me-2" type="text" placeholder="Nombre del producto" id="search" name="search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>

                </form class="d-flex mt-2" action="{% url 'login' %}" method="GET">
                <a class="btn btn-outline-primary mt-2 ms-2 me-2" href="{% url 'logout' %}">logout</a>     
                <a class="btn btn-outline-primary mt-2 ms-2 me-2" href="{% url 'login' %}">Login</a>    
                <button type="button" class="btn btn-outline-warning mt-2">Registrarse</button>
              </div>
            </div>
          </nav>
    </header>
    <main style="background:var(--bs-dark)">

       {% block content %}
       {% endblock content %} 
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top bg-dark" style="height: 100px; padding-right: 10px;">
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">{% block developers %}{% endblock developers %}</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-black-50" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-black-50" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-black-50" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>