
{% extends 'base.html' %}
{% block content %}
<h1>Resultado de la busqueda</h1>
<section class="container mt-3">
  <div class="grid" style="--bs-columns: 3;">
      {% for cerveza in cervezas %}
      <div class="card mt-1" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="{{cerveza.nombre}}">
          <div class="card-body">
            <h5 class="card-title">{{cerveza.nombre}}</h5>
            <p class="card-text">{{cerveza.descripcion}}</p>
            <h5 class="card-title">{{cerveza.precio}}</h5>
            <a href="#" class="btn btn-primary">Enviar a Carrito</a>
          </div>
        </div>
      {% endfor %}
  </div>
</section>
{% endblock content %}