
{% extends 'base_dashboard.html' %}

{% block content %}
<form action="{% url 'registrar-categoria' %}" method="POST">
    {% csrf_token %}
    <h1>Registro de Categoria</h1>
    <table>
        {{form.as_table}}
    </table>
    <input class="btn btn-primary" type="submit" value="Guardar">
</form>
<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Categoria</th>
            <th scope="col">Activo</th>
            <th scope="col-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
              <th scope="col">{{categoria.id}}</th>
              <td scope="col">{{categoria.categoria}}</td>        
              <td scope="col">
              {% if categoria.activo == True  %}
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              {% else %}
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              {% endif %}    
              </td>
              <td>
                <a class="btn btn-primary" href="{% url 'edit-categoria' categoria.id %}" role="button">Editar</a>
                <a class="btn btn-danger" href="{% url 'delete-categoria' categoria.id %}" role="button">Eliminar</a>
              </td>
              {% endfor %}
          </tr>    
        </tbody>
      </table>
</div>


{% endblock content %}
