
{% extends 'base.html' %}
{% block content %}
<section class="container mt-3">
  <div class="grid" style="--bs-columns: 3;">
      {% for cerveza in cervezas %}
        <div class="card mt-1" style="width: 18rem;">
          {% if cerveza.image %}
            <img src="{{cerveza.image.url}}" class="card-img-top" style="width: 50%; height: 50%;" alt="{{cerveza.nombre}}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{cerveza.nombre}}</h5>
            <p class="card-text">{{cerveza.descripcion}}</p>
            <h5 class="card-title">{{cerveza.precio}}</h5>
            <a href="#" class="btn btn-primary">Ver Mas...</a>
          </div>
        </div>
      {% endfor %}
  </div>
</section>
{% endblock content %}
