.container-db{
    background:#fff;
    display: flex;
}
.container-db form{
    margin: 10px 10px;
    border: 2px solid;
    border-radius: 5%;
    height: fit-content;
    padding: 10px 10px;
}

.bar-sticky{
        position: sticky;
        top:0;
        z-index: 3;
    }
